<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
    <title>Worl Pizza</title>
</head>
<body>
    <h1 class="titulos">Titulo</h1>
    <h2 class="subTitulos">Sub titulo</h2>
    <button class="btn">boton <span class="fas fa-angle-right"></span></button>




    <script src="../JS/app.js"></script>
</body>
</html>