<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
    <title>Worl Pizza</title>
</head>
<body>
    <div class="menu-principal" id="menu-principal">
        <div class="logo" id="logo">
            <img src="../img/logo.png" alt="">
        </div>

        <div class="menu-bar" id="menuBar">
            <i class="fas fa-angle-right" id="btnMenuClose"></i>

            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Equipo</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>

            <div class="sociales" id="sociales">
                <a href=""><span class="fab fa-facebook"></span></a>
                <a href=""><span class="fab fa-instagram"></span></a>
                <a href=""><span class="fab fa-twitter"></a>
                <a href=""><span class="fab fa-youtube"></a>
            </div>
        </div>

        <i class="fas fa-bars" id="btnMenuOpen"></i>
        
    </div>

    <section id="menu-productos">
        <div class="contenedor-principal" id="contenedor-princiapl">
            <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>

            <div class="slider">
                <div class="container-productos">
                    <div class="descripcion-producto">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Peperoni</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat incidunt dolorem natus nostrum quis unde quam</p>
                        <button class="btn">¡Solicitala aquí!<span class="fas fa-angle-right"></span></button>
                    </div>
                <div class="imagen-productos">
                    <img src="../img/menu/peperoni.png" alt="">
                </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-producto">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Especial</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat incidunt dolorem natus nostrum quis unde quam</p>
                        <button class="btn">¡Solicitala aquí!<span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../img/menu/especial.png" alt="">
                    </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-producto">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Margarita</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat incidunt dolorem natus nostrum quis unde quam</p>
                        <button class="btn">¡Solicitala aquí!<span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../img/menu/margarita.png" alt="">
                    </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-producto">
                        <h2>Producto <b>Especial</b></h2>
                        <h1>Suprema</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat incidunt dolorem natus nostrum quis unde quam</p>
                        <button class="btn">¡Solicitala aquí!<span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../img/menu/suprema.png" alt="">
                    </div>
                </div>
            </div>

            <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>
        </div>
    </section>

    <script src="../JS/app.js"></script>
</body>
</html>